*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    line-height: 1.7em;
    font-size: 0.8rem;
}
body{
    background: url('/img/back.jpeg');
}
input, button {
    cursor: pointer;
    padding: 0.5em 1em;
    border: 3px solid rgb(94, 174, 187);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}
input{
    width: 50%;
}
.article{
    width: 100%;
    min-height: 90vh;
   display: flex;
   flex-direction: column;
}
.message-form, .register-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-section,
.register-section{
    width: 100%;
    display: flex;
}
.message-section{
    flex: 1;
    flex-direction: column;
    justify-content: end;
}
.self-message{
    background:#2d6f88a8 !important;
    box-shadow: 0px 0px 4px 1px #fcf2f27d;
}
.register-section{
    margin-top: 2em;
    align-items: flex-start;
    flex: 0;
}
.btn{ margin: auto 5px;
}
.btn:hover {
    background: rgb(58, 31, 75);
    color: white;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
}
.input:focus {
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    width: 60%;
}
.hide{
    display: none !important;
}
.show{
    display: block;
}
.message-list{
    margin-top: 4em;
    padding: 1em;
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}
.message-list::-webkit-scrollbar{
    background: gray;
    width: 1.5em;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.message-list::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #0000009c, black, #0000009c);
    border-radius: 10px;
}
.username-text{
    text-align: center;
    letter-spacing: 4px;
    padding: 0.5em;
    background: rgb(58, 31, 75);
    color: rgb(62, 229, 255);
}
.message-li{
    padding: 0.5em;
    background: #d7bfff26;
    border-radius: 5px;
    color: #aaaaaa;
    margin: 1em;
    list-style: none;
}
.message-li, .self-message{
    width: 90%;
}
.message-title{
    display: flex;
    justify-content: space-between;
    color: #ffad5d;
    margin-bottom: 7px;
    font-size: 0.6rem;
}
.message-text{
    padding: 0.5em;
    background: #0000005c;
    border-radius: 5px;
    color: #ffe7aa;   
}
.typing-span{
    color: rgb(255 211 0);
    display: flex;
    align-self: center;
    padding: 0.5em 4em;
    background: rgb(0 0 0 / 62%);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 0.2em;
    border: 2px dashed #00d8ff;
}
.online_users{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background: #0000009e;
    box-shadow: 2px 2px 11px -2px #04ff104f;
    overflow: hidden;
}
.member-thead{
    font-weight: 700;
    text-align: center;
    color: #3cff00;
    text-shadow: 0px 2px 3px black;
}
.member-thead tr td{
    padding: 1em 0.5em;
    display: block;
}
.online_user_tr td{
    padding: 1em 0.5em;
    display: block
}
.online_user_tr{
    color: white;
    cursor: pointer;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}
.online_user_tr:hover{
    background: #aa73e663;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}
.member-tbody{
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
}
.main-body{
    display: flex;
    height: 75vh;
}
span.users-display-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    transform: translate(100%, 0px);
    cursor: pointer;
    box-shadow: 2px 2px 11px -2px #04ff104f;
    font-weight: 700;
    background: #0000009e;
    text-align: center;
    color: #3cff00;
    text-shadow: 0px 2px 3px black;
    -webkit-transform: translate(100%, 0px);
    -moz-transform: translate(100%, 0px);
    -ms-transform: translate(100%, 0px);
    -o-transform: translate(100%, 0px);
}
tr.member-tr {
    display: block;
}
.show-members{
    position: relative;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
.online-users-div {
    width: 25%;
    max-width: 220px;
    margin-top: 1em;
    font-size: 0.7rem;
    position: relative;
    transition: all 0.8s;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
.hide-users{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    width: 0%;
   
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
@media screen and (min-width: 720px) {
*{
    font-size:0.9rem;
}
.users-display-btn {
    font-size: 1rem !important;
}
.message-li, .self-message{
    width: 90%;
}
}
